###################
### Data import ###
###################

min.cells = 5
min.features = 50

ambient.removal=TRUE

###############
### CITEseq ###
###############

# R vector of HTO names for cellhashR demultiplex
HTO.features = c("HTO1","HTO2","HTO3","HTO4","HTO5","HTO6")

# Souporcell
souporcell_folder = "souporcell_results"

##########
### QC ###
##########

#save list of Seurat objects as RDS before QC
save.pre_QC = FALSE

# n.mad: Number of median absolute deviations (MAD) to exclude outliers (typical range: 3-5)
n.mad = 4

# var.features: Number of highly variable genes to select for downstream analysis (default: 2000)
var.features = 2000

# max.pca: Maximum number of principal components (PCs) to calculate during PCA (default: 40)
max.pca = 40

# var.explained: Proportion of variance (0-1) to retain from PCA (default: 0.90 for 90%)
var.explained = 0.90

###################
### Integration ###
###################

#Perform integration
integration = FALSE

#possible values "harmony" or "seurat"
integration.method = "harmony"
